{% extends "base.html" %}

{% block content %}
<h1> Start Detector </h1>
<div class="container mt-5">
    <form id="dynamicForm" method="POST" action="/detector_submit">
	   <div class="mb-3">
	              <label for="panel1" class="form-label">Panel1</label>
	              <div class="row">
	                  <div class="col">
	                      <select class="form-select" name="panel1_1">
	                          <option value="" disabled selected>Select</option>
	                          {% for option in options %}
	                              <option value="{{ option.key }}">{{ option.value }}</option>
	                          {% endfor %}
	                      </select>
	                  </div>
	                  <div class="col">
	                      <select class="form-select" name="panel1_2">
	                          <option value="" disabled selected>Select</option>
	                          {% for option in options %}
	                              <option value="{{ option.key }}">{{ option.value }}</option>
	                          {% endfor %}
	                      </select>
	                  </div>
	              </div>
	              <div class="row mt-2">
	                  <div class="col">
	                      <select class="form-select" name="panel1_3">
	                          <option value="" disabled selected>Select</option>
	                          {% for option in options %}
	                              <option value="{{ option.key }}">{{ option.value }}</option>
	                          {% endfor %}
	                      </select>
	                  </div>
	                  <div class="col">
	                      <select class="form-select" name="panel1_4">
	                          <option value="" disabled selected>Select</option>
	                          {% for option in options %}
	                              <option value="{{ option.key }}">{{ option.value }}</option>
	                          {% endfor %}
	                      </select>
	                  </div>
	              </div>
	          </div>

	          <div class="mb-3">
	              <label for="panel2" class="form-label">Panel2</label>
	              <div class="row">
	                  <div class="col">
	                      <select class="form-select" name="panel2_1">
	                          <option value="" disabled selected>Select</option>
	                          {% for option in options %}
	                              <option value="{{ option.key }}">{{ option.value }}</option>
	                          {% endfor %}
	                      </select>
	                  </div>
	                  <div class="col">
	                      <select class="form-select" name="panel2_2">
	                          <option value="" disabled selected>Select</option>
	                          {% for option in options %}
	                              <option value="{{ option.key }}">{{ option.value }}</option>
	                          {% endfor %}
	                      </select>
	                  </div>
	              </div>
	              <div class="row mt-2">
	                  <div class="col">
	                      <select class="form-select" name="panel2_3">
	                          <option value="" disabled selected>Select</option>
	                          {% for option in options %}
	                              <option value="{{ option.key }}">{{ option.value }}</option>
	                          {% endfor %}
	                      </select>
	                  </div>
	                  <div class="col">
	                      <select class="form-select" name="panel2_4">
	                          <option value="" disabled selected>Select</option>
	                          {% for option in options %}
	                              <option value="{{ option.key }}">{{ option.value }}</option>
	                          {% endfor %}
	                      </select>
	                  </div>
	              </div>
	          </div>

        <div class="mb-3">
            <label for="detect" class="form-label">Detect</label>
            <input type="text" class="form-control" name="detect" placeholder="tag, tag, tag" value="person">
        </div>

        <div class="mb-3">
            <label for="detect" class="form-label">Model</label>
              <select class="form-select" name="model">
                  <option value="" disabled selected>Select</option>
                  {% for model in models %}
                      <option value="{{ model.key }}" {% if model.key == "yolov8n.pt" %}selected{% endif %}   >{{ model.value }}</option>
                  {% endfor %}
              </select>
        </div>


        <div class="mb-3">
            <label for="condition" class="form-label">Condition</label>
            <div class="row">
                <div class="col"><input type="number" class="form-control" name="min_count" placeholder="min_count"></div>
                <div class="col"><input type="number" class="form-control" name="max_count" placeholder="max_count" value="2"></div>
            </div>
        </div>

        <div class="mb-3">
            <label for="alert" class="form-label">Alert</label>
            <div class="row">
                <div class="col"><input type="text" class="form-control" name="msg" placeholder="msg"></div>
                <div class="col"><input type="color" class="form-control form-control-color" name="color" value="#ffffff" title="Choose your color"></div>
            </div>
        </div>
		
        <div class="mb-3">
            <label for="detect" class="form-label">RTMP</label>
            <input type="text" class="form-control" name="rtmp" placeholder="" value="rtmp://localhost:1935/stream/yolo">
        </div>

        <button type="submit" class="btn btn-success">Start</button>
    </form>
</div>


{% endblock %}